#app {
  overflow: hidden;
  .mmkg-header {
    padding: 0 30px;
    color: white;
    position: fixed;
    width: 100%;
    a {
      color: white;
    }
    i-menu-item {
      margin: 0 20px;
      .filter {
        background: transparent;
        border: none;
      }
    }
    .logo {
      font-size: 28px;
      margin-right: 70px;
    }
    .login {
      float: right;
    }
  }
  .content {
    overflow: hidden;
    padding: 8px;
    margin: 60px 0;
    .imgs-box {
      overflow: hidden;
    }
    .ivu-col {
      padding: 6px;
    }
    .img-container {
      width: 100%;
      height: 0px;
      padding-bottom: 100%;
      position: relative;
      overflow: hidden;
      &.ivu-poptip {
        .ivu-poptip-rel {
          overflow: hidden;
          width: 100%;
          height: 100%;
          position: absolute;
        }
      }
      img {
        width: 100%;
        height: 100%;
        position: absolute;
      }
      .bounding-box {
        display: inline-block;
        position: absolute;
        border: 2px solid red;
      }
      .face-bounding-box {
        border-color: red;
      }
      .body-bounding-box {
        border-color: greenyellow;
      }
      &.mark-mode:hover {
        .lables.ivu-row {
          display: block;
        }
      }
      .lables.ivu-row {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: white;
        opacity: 0.9;
        display: none;
        display: block;
        .ivu-col {
          padding: 0;
          button {
            border-radius: 0;
            width: 100%;
            border: none;
            display: block;
            padding: 0;
            height: 30px;
            color: rgb(45, 140, 240);
            &:hover {
              background: rgb(45, 140, 240);
              color: white
            }
            &:focus{
              box-shadow: none;
            }
          }
        }
      }
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    .ivu-page {
      .ivu-page-prev,
      .ivu-page-next,
      .ivu-page-item-jump-next:hover,
      .ivu-page-item-jump-prev:hover {
        .ivu-icon {
          height: 100%;
          display: inline-block;
          line-height: 30px;
        }
      }
    }
  }
}

.filter-modal {
  .ivu-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .left {
      padding-left: 50px;
      font-weight: 500;
    }
    .right {
      display: flex;
      align-items: center;
      .text {
        position: relative;
        left: -5px;
      }
    }
    .num-tip {
      float: right;
      color: #ccc
    }
    .ivu-select-item-selected {
      .num-tip {
        margin-right: 15px;
      }
    }
    .ivu-select-dropdown-list {
      max-height: 150px;
      overflow: auto;
    }
    input {
      width: 200px;
    }
    input.small {
      width: 85px;
    }
  }
  .ivu-modal-body {
    height: 400px;
    overflow: scroll;
  }
}
