#app {
  overflow: hidden; }
  #app .mmkg-header {
    padding: 0 30px;
    color: white;
    position: fixed;
    width: 100%; }
    #app .mmkg-header a {
      color: white; }
    #app .mmkg-header i-menu-item {
      margin: 0 20px; }
      #app .mmkg-header i-menu-item .filter {
        background: transparent;
        border: none; }
    #app .mmkg-header .logo {
      font-size: 28px;
      margin-right: 70px; }
    #app .mmkg-header .login {
      float: right; }
  #app .img-container {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden; }
    #app .img-container.ivu-poptip .ivu-poptip-rel {
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute; }
    #app .img-container img {
      width: 100%;
      height: 100%;
      position: absolute; }
    #app .img-container .bounding-box {
      display: inline-block;
      position: absolute;
      border: 2px solid red; }
    #app .img-container .face-bounding-box {
      border-color: red; }
    #app .img-container .body-bounding-box {
      border-color: greenyellow; }
    #app .img-container .close-bounding-box {
      border-color: orange; }
    #app .img-container.mark-mode:hover .lables.ivu-row {
      display: block; }
    #app .img-container .lables.ivu-row {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: white;
      opacity: 0.8;
      display: none; }
      #app .img-container .lables.ivu-row .ivu-col {
        padding: 0; }
        #app .img-container .lables.ivu-row .ivu-col button {
          border-radius: 0;
          width: 100%;
          border: none;
          display: block;
          padding: 0;
          height: 30px;
          color: #2d8cf0; }
          #app .img-container .lables.ivu-row .ivu-col button:hover {
            background: #2d8cf0;
            color: white; }
          #app .img-container .lables.ivu-row .ivu-col button:focus {
            box-shadow: none; }
  #app .content {
    overflow: hidden;
    padding: 8px;
    margin: 60px 0; }
    #app .content .imgs-box {
      overflow: hidden; }
    #app .content .ivu-col {
      padding: 6px; }
  #app footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center; }
    #app footer .ivu-page .ivu-page-prev .ivu-icon,
    #app footer .ivu-page .ivu-page-next .ivu-icon,
    #app footer .ivu-page .ivu-page-item-jump-next:hover .ivu-icon,
    #app footer .ivu-page .ivu-page-item-jump-prev:hover .ivu-icon {
      height: 100%;
      display: inline-block;
      line-height: 30px; }
  #app .magnify-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; }
    #app .magnify-container .img-container {
      width: 640px;
      height: 640px;
      padding: 0; }
    #app .magnify-container .button {
      height: 65px;
      width: 65px;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 130%; }
    #app .magnify-container .close-btn {
      position: absolute;
      top: 10px;
      right: 20px;
      background-size: 70%;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+MTYvaTAwMjdfY2xvc2UtZGlhbG9nPC90aXRsZT48ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz48cGF0aCBkPSJNOS42NCA4bDQuMDE2IDQuMDE2Yy4yMy4yMy4zNDQuNTAyLjM0NC44MiAwIC4zMTgtLjExNS41OS0uMzQ0LjgyLS4yMy4yMy0uNTAyLjM0NC0uODIuMzQ0LS4zMTggMC0uNTktLjExNS0uODItLjM0NEw4IDkuNjRsLTQuMDE2IDQuMDE2Yy0uMjMuMjMtLjUwMi4zNDQtLjgyLjM0NC0uMzE4IDAtLjU5LS4xMTUtLjgyLS4zNDQtLjIzLS4yMy0uMzQ0LS41MDItLjM0NC0uODIgMC0uMzE4LjExNS0uNTkuMzQ0LS44Mkw2LjM2IDggMi4zNzQgNC4wMTZjLS4yMy0uMjMtLjM0NC0uNTAzLS4zNDQtLjgyIDAtLjMxOC4xMTYtLjU4Ny4zNDUtLjgwNS4yMy0uMjMuNTAzLS4zNC44Mi0uMzQuMzE4IDAgLjU5LjExMy44Mi4zNDNMOCA2LjM3Nmw0LjAzLTQuMDNjLjIzLS4yMy41MDQtLjM0NS44MjItLjM0NS4zMTcgMCAuNTkuMTE3LjgyLjM0Ni4yMi4yMy4zMjguNTAyLjMyOC44MiAwIC4zMTgtLjExLjU4Ni0uMzI4LjgwNUw5LjY0MiA4eiIgZmlsbD0iI2ZmZiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+"); }
    #app .magnify-container .pre-btn {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+NDgvcHJldmlvdXMtbGFyZ2U8L3RpdGxlPjxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPjxwYXRoIGQ9Ik0xMCAyNC41MTR2LTEuMDI4TDI1LjMyMyA2Ljc0Yy4zNzQtLjQxLjk4NC0uNDI1IDEuMzczLS4wMjRsMS4xMDggMS4xNGMuMzg0LjM5NS4zOTMgMS4wMzguMDE2IDEuNDRMMTQgMjRsMTMuODIgMTQuNzA1Yy4zNzYuNC4zNzMgMS4wNC0uMDE2IDEuNDRsLTEuMTA4IDEuMTRjLS4zODQuMzk0LTEgLjM4LTEuMzczLS4wMjVMMTAgMjQuNTE0eiIgZmlsbD0iIzk5OSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+"); }
    #app .magnify-container .next-btn {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+NDgvbmV4dC1sYXJnZTwvdGl0bGU+PGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+PHBhdGggZD0iTTM4IDI0LjUxNHYtMS4wMjhMMjIuNjc3IDYuNzRjLS4zNzQtLjQxLS45ODQtLjQyNS0xLjM3My0uMDI0bC0xLjEwOCAxLjE0Yy0uMzg0LjM5NS0uMzkzIDEuMDM4LS4wMTYgMS40NEwzNCAyNCAyMC4xOCAzOC43MDVjLS4zNzYuNC0uMzczIDEuMDQuMDE2IDEuNDRsMS4xMDggMS4xNGMuMzg0LjM5NCAxIC4zOCAxLjM3My0uMDI1TDM4IDI0LjUxNHoiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg=="); }

.filter-modal .ivu-modal-body::-webkit-scrollbar {
  display: none; }
.filter-modal .ivu-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px; }
  .filter-modal .ivu-row .left {
    padding-left: 50px;
    font-weight: 500; }
  .filter-modal .ivu-row .right {
    display: flex;
    align-items: center; }
    .filter-modal .ivu-row .right .text {
      position: relative;
      left: -5px; }
  .filter-modal .ivu-row .num-tip {
    float: right;
    color: #ccc; }
  .filter-modal .ivu-row .ivu-select-item-selected .num-tip {
    margin-right: 15px; }
  .filter-modal .ivu-row .ivu-select-dropdown-list {
    max-height: 150px;
    overflow: auto; }
  .filter-modal .ivu-row input {
    width: 200px; }
  .filter-modal .ivu-row input.small {
    width: 85px; }
.filter-modal .ivu-modal-body {
  height: 400px;
  overflow: scroll; }

/*# sourceMappingURL=explore.css.map */
