body {
  margin: 5px;
  font-family: Helvetica, sans-serif;
}
.item {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  font-size: 1.2em;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
}
.wf-transition {
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
}
.wf-enter {
  opacity: 0;
}
