<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="i-icon" href="../static/favi-icon.ico">
    <title>MMKG Annotation System</title>
    <link href="../static/css/signin.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/ivew.css" rel="stylesheet">
    <link href="../static/css/explore.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <i-menu mode="horizontal" :theme="'dark'" active-name="1" class='mmkg-header'>
        <i-menu-item name="1" class='logo'>
          <a class="navbar-brand" href="/index">MMKG Annotation</a>
        </i-menu-item>
        <i-menu-item name="2">
          <i-button type="primary" class='filter' @click="filter">Filter</i-button>
        </i-menu-item>
        <i-menu-item name="3">
          <i-button type="primary" class='setting filter' @click='setting'>Setting</i-button>
        </i-menu-item>
        <i-menu-item name="4" class='login'>
          <span class="navbar-text navbar-right">xujx</span>
          <a class="nav-link navbar-right" href="/logout">Logout</a>
        </i-menu-item>
      </i-menu>
      <div class='content'>
        <div class='imgs-box'>
          <i-col :lg='config.layouts' v-for="(item, index) in items">
            <Poptip trigger="hover" placement="right" class="img-container" v-if='config.mode == "Browse"'>
              <img :width="item.width" :height="item.height" :alt="item.index" :src="item.src">
              <span class='bounding-box face-bounding-box' v-if="config.show_face_bouding" v-for="position in item.face_detction.boxes"
                v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
              </span>
              <span class='bounding-box body-bounding-box' v-if="config.show_body_bouding" v-for="position in item.object_detction" v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
              </span>
              <div class="api" slot="content">
              </div>
            </Poptip>
            <div class="img-container" v-if='config.mode == "Mark"'>
              <img :width="item.width" :height="item.height" :alt="item.index" :src="item.src">
              <span class='bounding-box face-bounding-box' v-if="config.show_face_bouding" v-for="position in item.face_detction.boxes"
                v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
              </span>
              <span class='bounding-box body-bounding-box' v-if="config.show_body_bouding" v-for="position in item.object_detction" v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
              </span>
            </div>
          </i-col>
        </div>
      </div>
      <footer>
        <Page :page-size='config.batch' :current="config.page" :total="pages.count" show-elevator show-total @on-change='pageChange'
          @on-page-size-change='pageSizeChange'></Page>
      </footer>
      <Modal v-model="filterModalConfig.show" :mask-closable="filterModalConfig.maskClosable" :loading="filterModalConfig.loading" title="Filter Modal"
        class='filter-modal' @on-ok="filterConfirm">
        <Row>
          <i-col span="12" class='left'>
            <span>Start Time</span>
          </i-col>
          <i-col span="12" class='right'>
            <date-picker type="datetime" placeholder="Select time" @on-change='startTimeChange'></date-picker>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>End Time</span>
          </i-col>
          <i-col span="12" class='right'>
            <date-picker type="datetime" placeholder="Select time" @on-change='endTimeChange'></date-picker>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Longitude</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.location.longitude[0]' :min="-180" :max="180" class='small'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.location.longitude[1]' :min="-180" :max="180" class='small'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Latitude</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.location.latitude[0]' :min="-90" :max="90" class='small'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.location.latitude[1]' :min="-90" :max="90" class='small'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Country</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-input placeholder="specify country" v-model='filters.location.name'></i-input>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Hashtags</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-input placeholder="multi-tags splited by '|'" v-model='filters.hashtags'></i-input>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Num of Persons</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.persons[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.persons[1]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Num of Faces</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.faces[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.faces[1]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Num of Likes</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.likes[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.likes[1]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Num of Comments</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.comments[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.comments[1]' :min="filters.comments[0] || 0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Posters</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-input placeholder="multi-posters splited by '|'" v-model='filters.bloggers'></i-input>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Per Face About Body</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="24">
              <input-number v-model='filters.face_body_per' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Per of Face</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="24">
              <input-number v-model='filters.face_per' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Per of Body</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="24">
              <input-number v-model='filters.body_per' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
      </Modal>
      <Modal v-model="settingModalConfig.show" :mask-closable="settingModalConfig.maskClosable" title="Seeting Modal"
      class='filter-modal' @on-ok="settingConfirm"  @on-cancel="settingCancel">
        <Row>
          <i-col span="12" class='left'>
            <span>Request Batch</span>
          </i-col>
          <i-col span="12" class='right'>
            <input-number v-model='config.batch' :min="1" :precision='0'></input-number>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Show the Face BoudingBox</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-switch v-model="config.show_face_bouding"></i-switch>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Show the Body BoudingBox</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-switch v-model="config.show_body_bouding"></i-switch>
          </i-col>
        </Row>
        <Row>
            <i-col span="12" class='left'>
              <span>Work Mode</span>
            </i-col>
            <i-col span="12" class='right'>
              <radio-group v-model="config.mode">
                <Radio label="Browse">Browse</Radio>
                <Radio label="Mark">Mark</Radio>
              </radio-group>
            </i-col>
          </Row>
    </Modal>
    </div>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/ivew.min.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        components: {},
        mounted: function () {
          this.getItems();
        },
        data: {
          config: {
            layouts: 6,
            batch: 50,
            page: 1,
            show_face_bouding: true,
            show_body_bouding: true,
            mode: "Mark"
          },
          items: [],
          pages: {},
          filterModalConfig: {
            title: 'Filter Modal',
            show: false,
            maskClosable: false,
            loading: true,
          },
          settingModalConfig: {
            title: 'Filter Modal',
            show: false,
            maskClosable: false,
            loading: true,
          },
          filters: {
            time: ['', ''],
            location: {
              name: "",
              longitude: ['', ''],
              latitude: ['', ''],
            },
            hashtags: '',
            persons: ['', ''],
            faces: ['', ''],
            likes: ['', ''],
            comments: ['', ''],
            bloggers: '',
            face_body_per: "",
            face_per: "",
            body_per: "",
          }
        },
        methods: {
          getItems: function () {
            /**
             * 把hashTags bloggers 分割成数组  分隔符 |
             */
            let params = Object.assign({}, this.filters)
            this.formatVerticalBar(['hashtags', 'bloggers'], params);
            let data = {
              filters: params,
              page: this.config
            }
            console.log(data)
            /**
             * mock/index.json  是本地mock数据  真正测试时需要修改为线上服务器路径
             */
            axios.get('/mock/index.json', data).then((response) => {
              // axios.post('/get_items',data).then((response)=> {
              let data = response.data.data;
              this.items = data;
              this.formatData(this.items)
              console.log(this.items)
              this.pages = response.data.pages;
              this.filterModalConfig.show = false;
            })
          },
          formatData: function (data) {
            data.forEach((item, index) => {
              let width = item.img.width
              let height = item.img.height
              if (item.face_detction) {
                item.face_detction = JSON.parse(item.face_detction)
                item.face_detction.boxes.forEach((box, index) => {
                  box = {
                    left: box[0] / width * 100,
                    top: box[1] / height * 100,
                    width: box[2] / width * 100,
                    height: box[3] / height * 100,
                  }
                  item.face_detction.boxes[index] = box;
                })
              } else {
                item.face_detction = {
                  boxes: []
                }
              }
              item.object_detction && (item.object_detction = JSON.parse(item.object_detction))
              let body_det = item.object_detction;
              let temp = [];
              if (body_det.T_F) {
                body_det.result.forEach((item) => {
                  if (item[0] == 'person') {
                    let box = item[2]
                    let obj = {
                      left: box[0] / width * 100,
                      top: box[1] / height * 100,
                      width: box[2] / width * 100,
                      height: box[3] / height * 100,
                    }
                    temp.push(obj)
                  }
                })
              }
              data[index].object_detction = temp;
            })
          },
          filter: function () {
            this.filterModalConfig.show = true;
          },
          setting:function(){
            this.settingModalConfig.show = true;
          },
          filterConfirm: function () {
            this.config.page = 1;
            this.getItems()
          },
          settingConfirm:function(){
          },
          settingCancel:function(){
            return;
          },
          formatVerticalBar: function (data, target) {
            data.forEach((item, index) => {
              target[item] = target[item].split('|')
              let temp = target[item];
              temp.forEach((item, index) => {
                temp[index] = item.trim()
              })
            })
          },
          pageChange: function (page) {
            /**
             *page 当前选中页数
             */
            this.config.page = page;
            this.getItems();
          },
          pageSizeChange: function (size) {
            /**
             *size 每页显示条数
             */
            this.config.batch = size;
            this.config.page = 1;
            this.getItems();
          },
          startTimeChange: function (data) {
            this.filters.time[0] = data;
          },
          endTimeChange: function (data) {
            this.filters.time[1] = data;
          }
        }
      })

    </script>

  </body>

</html>
