<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="i-icon" href="../static/favi-icon.ico">
    <title>MMKG Annotation System</title>
    <link href="../static/css/signin.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/ivew.css" rel="stylesheet">
    <link href="../static/css/explore.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <i-menu mode="horizontal" :theme="'dark'" active-name="1" class='mmkg-header'>
        <i-menu-item name="1" class='logo'>
          <a class="navbar-brand" href="/index">MMKG Annotation</a>
        </i-menu-item>
        <i-menu-item name="2">
          <a class="nav-link" href="/explore">Explore
            <span class="sr-only">(current)</span>
          </a>
        </i-menu-item>
        <i-menu-item name="3">
          <i-button type="primary" class='filter' @click="filter">条件筛选</i-button>
        </i-menu-item>
        <i-menu-item name="4">
          <i-button type="primary" class='filter'>设置</i-button>
        </i-menu-item>
        <i-menu-item name="4" class='login'>
          <!-- <span class="navbar-text navbar-right">{{username}} </span> -->
          <span class="navbar-text navbar-right">xujx</span>
          <a class="nav-link navbar-right" href="/logout">Logout</a>
        </i-menu-item>
      </i-menu>
      <div class='content'>
        <div class='imgs-box'>
          <i-col :lg='config.layouts' v-for="(item, index) in items">
            <div class="img-container">
              <img :width="item.width" :height="item.height" :alt="item.index" :src="item.src">
            </div>
          </i-col>
        </div>
        <Page :total="pages.count" show-elevator show-sizer show-total @on-change='pageChange' @on-page-size-change='pageSizeChange'></Page>
      </div>
      <Modal v-model="modalConfig.show" :mask-closable="modalConfig.maskClosable" :loading="modalConfig.loading" title="Filter Modal"
        class='filter-modal' @on-ok="filterConfirm">
        <Row>
          <i-col span="12" class='left'>
            <span>开始时间</span>
          </i-col>
          <i-col span="12" class='right'>
            <date-picker type="datetime" placeholder="Select time" @on-change='startTimeChange'></date-picker>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>结束时间</span>
          </i-col>
          <i-col span="12" class='right'>
            <date-picker type="datetime" placeholder="Select time" @on-change='endTimeChange'></date-picker>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>经度</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.location.longitude[0]' :min="-180" :max="180" class='small'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              至
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.location.longitude[1]' :min="-180" :max="180" class='small'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>纬度</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.location.latitude[0]' :min="-90" :max="90" class='small'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              至
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.location.latitude[1]' :min="-90" :max="90" class='small'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>国家</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-input placeholder="选择国家" v-model='filters.location.name'></i-input>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Hashtags</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-input placeholder="多个tag之间使用 | 分割" v-model='filters.hashtags'></i-input>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>人数范围</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.persons[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              至
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.persons[1]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>人脸数量</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.faces[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              至
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.faces[1]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>点赞数</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.likes[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              至
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.likes[1]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>评论数</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.comments[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              至
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.comments[1]' :min="filters.comments[0] || 0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>批量返回条数</span>
          </i-col>
          <i-col span="12" class='right'>
            <input-number v-model='config.batch' :min="1" :precision='0'></input-number>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>上传者</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-input placeholder="多个blogger之间使用 | 分割" v-model='filters.bloggers'></i-input>
          </i-col>
        </Row>
      </Modal>
    </div>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/ivew.min.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        components: {},
        mounted: function () {
          this.addItems();
        },
        data: {
          config: {
            layouts: 4,
            batch: 50,
            page: 1
          },
          items: [],
          pages: {},
          modalConfig: {
            title: 'Filter Modal',
            show: false,
            maskClosable: false,
            loading: true,
          },
          filters: {
            time: ['', ''],
            location: {
              name: "",
              longitude: ['', ''],
              latitude: ['', ''],
            },
            hashtags: '',
            persons: ['', ''],
            faces: ['', ''],
            likes: ['', ''],
            comments: ['', ''],
            bloggers: '',
          }
        },
        methods: {
          addItems: function () {
            /**
             * 把hashTags bloggers 分割成数组  分隔符 |
             */
            this.formatVerticalBar(['hashtags', 'bloggers']);
            let params = Object.assign({},this.filters,this.config)
            console.log(params)
            /**
             * mock/index.json  是本地mock数据  真正测试时需要修改为线上服务器路径
            */
            axios.get('/mock/index.json',params).then((response)=> {
              let data = response.data.data;
              this.items = data;
              this.pages = response.data.pages;
            })
          },
          filter: function () {
            this.modalConfig.show = true;
          },
          filterConfirm: function () {
            console.log(this.filters)
            this.addItems()
          },
          formatVerticalBar: function (data) {
            data.forEach((item, index) => {
              this.filters[item] = this.filters[item].split('|')
              let temp = this.filters[item];
              temp.forEach((item, index) => {
                temp[index] = item.trim()
              })
            })
          },
          pageChange: function (page) {
            /**
             *page 当前选中页数
             */
            console.log(page)
            this.config.page = page;
            this.getItem();
          },
          pageSizeChange: function (size) {
            /**
             *size 每页显示条数
             */
            console.log(size)
            this.config.batch = size;
            this.getItem();
          },
          startTimeChange: function (data) {
            this.filters.time[0] = data;
            console.log(this.filters.time[0])
          },
          endTimeChange: function (data) {
            this.filters.time[1] = data;
            console.log(this.filters.time[1])
          }
        }
      })

    </script>

  </body>

</html>
