<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">
    <title>MMKG in Fashion</title>
    <link href="../static/css/signin.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/ivew.css" rel="stylesheet">
    <link href="../static/css/explore.css" rel="stylesheet">
  </head>

  <body>
    <div id="app">
      <i-menu mode="horizontal" :theme="'dark'" active-name="1" class='mmkg-header'>
        <i-menu-item name="1" class='logo'>
          <a class="navbar-brand" href="/explore">MMKG in Fashion</a>
        </i-menu-item>
        <i-menu-item name="2">
          <i-button type="primary" class='filter' @click="filter">Filter</i-button>
        </i-menu-item>
        <i-menu-item name="3">
          <i-button type="primary" class='setting filter' @click='setting'>Setting</i-button>
        </i-menu-item>
        <i-menu-item name="4" class='login'>
          <!-- <span class="navbar-text navbar-right">{{username}}</span> -->
          <span class="navbar-text navbar-right">admin</span>
          <a class="nav-link navbar-right" href="/logout">Logout</a>
        </i-menu-item>
      </i-menu>
      <div class='content'>
        <div class='imgs-box'>
          <i-col :lg='24/config.layouts' v-for="(item, index) in items">
            <div class="img-container mark-mode" @click='changeMagnify(0,index)'>
              <img :width="item.width" :height="item.height" :alt="item.index" :src="item.src">
              <span class='bounding-box face-bounding-box' v-for="(position, index) in (config.show_aligned_result ? item.face_detction_new.boxes : item.face_detction.boxes)"
                v-if="config.show_face_bouding && (!config.show_aligned_result || (config.show_aligned_result && index > (config.which[0] - 2) && index < config.which[1]))"
                v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
              </span>
              <span class='bounding-box body-bounding-box' v-if="config.show_body_bouding && (!config.show_aligned_result || (config.show_aligned_result && index > (config.which[0] - 2) && index < config.which[1]))"
                v-for="(position,index) in (config.show_aligned_result ? item.object_detction_new : item.object_detction)"
                v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
              </span>
              <span class='bounding-box close-bounding-box' v-if="config.show_clothes_bouding" v-for="(position,index) in item.clothes.box"
                v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
              </span>
              <Row class='lables' v-if='config.mode == "Mark"'>
                <i-col :lg='24/config.task.option.length' v-for="(option, index) in config.task.option">
                  <i-button type="ghost" @click='mark(option,item.id)'>{{option}}</i-button>
                </i-col>
              </Row>
            </div>
          </i-col>
        </div>
      </div>
      <footer>
        <Page :page-size='config.batch' :current="config.page" :total="pages.count" show-elevator show-total @on-change='pageChange'
          @on-page-size-change='pageSizeChange'></Page>
      </footer>
      <Modal v-model="filterModalConfig.show" :mask-closable="filterModalConfig.maskClosable" :loading="filterModalConfig.loading"
        title="Filter Modal" class='filter-modal' @on-ok="filterConfirm">
        <Row>
          <i-col span="12" class='left'>
            <span>Start Time</span>
          </i-col>
          <i-col span="12" class='right'>
            <date-picker type="datetime" placeholder="Select time" @on-change='startTimeChange'></date-picker>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>End Time</span>
          </i-col>
          <i-col span="12" class='right'>
            <date-picker type="datetime" placeholder="Select time" @on-change='endTimeChange'></date-picker>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Longitude</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.location.longitude[0]' :min="-180" :max="180" class='small'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.location.longitude[1]' :min="-180" :max="180" class='small'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Latitude</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.location.latitude[0]' :min="-90" :max="90" class='small'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.location.latitude[1]' :min="-90" :max="90" class='small'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Country</span>
          </i-col>
          <i-col span="12" class='right'>
            <auto-complete @on-search="handleSearch" @on-select='selcetCountry' placeholder="Select value" style="width:200px">
              <i-option v-for="item in searchCountry" :value="item.value" :key="item.name">
                <span>{{item.name}}</span>
                <span class='num-tip'>{{item.num}}</span>
              </i-option>
            </auto-complete>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Hashtags</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-select v-model="filters.hashtags" style="width:200px" multiple>
              <i-option v-for="item in hashTagList" :value="item.key" :key="item.key">
                <span>{{item.key}}</span>
                <span class='num-tip'>{{item.value}}</span>
              </i-option>
            </i-select>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Num of Persons</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.persons[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.persons[1]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Num of Faces</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.faces[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.faces[1]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Num of Likes</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.likes[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.likes[1]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Num of Comments</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.comments[0]' :min="0" class='small' :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.comments[1]' :min="filters.comments[0] || 0" class='small' :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Posters</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-input placeholder="multi-posters splited by '|'" v-model='filters.bloggers'></i-input>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>dark_degree</span>
          </i-col>
          <i-col span="12" class='right'>
            <input-number v-model='filters.dark_degree' :min="0" :max="1" class='small' :precision='0'></input-number>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>has_url</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-switch v-model="filters.has_url"></i-switch>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>has_watermark</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-switch v-model="filters.has_watermark"></i-switch>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>is_face_in_body</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-switch v-model="filters.is_face_in_body"></i-switch>
          </i-col>
        </Row>
        <Row v-if='filters.is_face_in_body'>
          <i-col span="12" class='left'>
            <span>face_body_per</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.face_body_per[0]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.face_body_per[1]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row v-if='filters.is_face_in_body'>
          <i-col span="12" class='left'>
            <span>face_per</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.face_per[0]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.face_per[1]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row v-if='filters.is_face_in_body'>
          <i-col span="12" class='left'>
            <span>body_per</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.body_per[0]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.body_per[1]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row v-if='filters.is_face_in_body'>
          <i-col span="12" class='left'>
            <span>face_body_w_per</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.face_body_w_per[0]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.face_body_w_per[1]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row v-if='filters.is_face_in_body'>
          <i-col span="12" class='left'>
            <span>face_body_h_per</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.face_body_h_per[0]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.face_body_h_per[1]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row v-if='filters.is_face_in_body'>
          <i-col span="12" class='left'>
            <span>face_w_per</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.face_w_per[0]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.face_w_per[1]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row v-if='filters.is_face_in_body'>
          <i-col span="12" class='left'>
            <span>face_h_per</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.face_h_per[0]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.face_h_per[1]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row v-if='filters.is_face_in_body'>
          <i-col span="12" class='left'>
            <span>body_w_per</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.body_w_per[0]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.body_w_per[1]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
        <Row v-if='filters.is_face_in_body'>
          <i-col span="12" class='left'>
            <span>body_h_per</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='filters.body_h_per[0]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='filters.body_h_per[1]' :min="0" :max='1' :precision='2'></input-number>
            </i-col>
          </i-col>
        </Row>
      </Modal>
      <Modal v-model="settingModalConfig.show" :mask-closable="settingModalConfig.maskClosable" title="Seeting Modal" class='filter-modal'
        @on-ok="settingConfirm" @on-cancel="settingCancel">
        <Row>
          <i-col span="12" class='left'>
            <span>Request Batch</span>
          </i-col>
          <i-col span="12" class='right'>
            <input-number v-model='config.batch' :min="1" :precision='0'></input-number>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Number of Images Per Line</span>
          </i-col>
          <i-col span="12" class='right'>
            <input-number v-model='config.layouts' :min="2" :max='8' :precision='0' :step='2'></input-number>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Show the Face BoudingBox</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-switch v-model="config.show_face_bouding"></i-switch>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Show the Body BoudingBox</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-switch v-model="config.show_body_bouding"></i-switch>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Show the clothes BoudingBox</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-switch v-model="config.show_clothes_bouding"></i-switch>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Work Mode</span>
          </i-col>
          <i-col span="12" class='right'>
            <radio-group v-model="config.mode">
              <Radio label="Browse">Browse</Radio>
              <Radio label="Mark">Mark</Radio>
            </radio-group>
          </i-col>
        </Row>
        <Row v-if='config.mode==="Mark"'>
          <i-col span="12" class='left'>
            <span>Selcet Task</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-select v-model="config.task" style="width:200px">
              <i-option v-for="item in taskList" :value="item" :key="item.task">
                <span>{{item.task}}</span>
              </i-option>
            </i-select>
          </i-col>
        </Row>
        <Row>
          <i-col span="12" class='left'>
            <span>Show Aligned Result</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-switch v-model="config.show_aligned_result"></i-switch>
          </i-col>
        </Row>
        <Row v-if="config.show_aligned_result">
          <i-col span="12" class='left'>
            <span>Which to Show</span>
          </i-col>
          <i-col span="12" class='right'>
            <i-col span="10">
              <input-number v-model='config.which[0]' :min="1" :precision='0'></input-number>
            </i-col>
            <i-col span="2" class='text'>
              to
            </i-col>
            <i-col span="10">
              <input-number v-model='config.which[1]' :min="1" :precision='0'></input-number>
            </i-col>
          </i-col>
        </Row>
      </Modal>
      <div v-if='magnify' class='magnify-container'>
        <div class='pre-btn button' @click='changeMagnify(1)'></div>
        <div class="img-container mark-mode">
          <img :alt="magnify.index" :src="magnify.src">
          <!-- <span class='bounding-box face-bounding-box' v-for="(position, index) in (config.show_aligned_result ? magnify.face_detction_new.boxes : magnify.face_detction.boxes)"
            v-if="config.show_face_bouding && (!config.show_aligned_result || (config.show_aligned_result && index > (config.which[0] - 2) && index < config.which[1]))"
            v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
          </span> -->
          <!-- <span class='bounding-box body-bounding-box' v-if="config.show_body_bouding && (!config.show_aligned_result || (config.show_aligned_result && index > (config.which[0] - 2) && index < config.which[1]))"
            v-for="(position,index) in (config.show_aligned_result ? magnify.object_detction_new : magnify.object_detction)"
            v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
          </span> -->
          <span class='bounding-box close-bounding-box' v-if="config.show_clothes_bouding" v-for="(position,index) in magnify.clothes.box"
            v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
          </span>
        </div>
        <div class='next-btn button' @click='changeMagnify(2)'></div>
        <div class='close-btn button' @click='magnify=null'></div>
      </div>
    </div>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/ivew.min.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        components: {},
        mounted: function () {
          this.getItems();
          this.getHashTagList();
          this.getCountryList();
          this.getTaskList();
        },
        data: {
          hashTagList: [],
          searchCountry: [],
          countryList: [],
          taskList: [],
          magnify: null,
          config: {
            layouts: 6,
            batch: 120,
            page: 1,
            show_face_bouding: true,
            show_body_bouding: true,
            show_clothes_bouding: true,
            mode: "Mark",
            task: "",
            show_aligned_result: false,
            which: [1, 30]
          },
          filters: {
            time: ['', ''],
            location: {
              name: "",
              longitude: ['', ''],
              latitude: ['', ''],
            },
            hashtags: '',
            persons: [1, 1],
            faces: [1, 1],
            likes: ['', ''],
            comments: ['', ''],
            bloggers: '',
            is_face_in_body: true,
            face_body_per: ["", ""],
            face_per: ["", ""],
            body_per: ["", ""],
            face_body_w_per: ["", ""],
            face_body_h_per: [0.0, 0.25],
            face_w_per: ["", ""],
            face_h_per: ["", ""],
            body_w_per: ["", ""],
            body_h_per: [0.5, 1],
            has_url: false,
            has_watermark: false,
            dark_degree: ""
          },
          items: [],
          pages: {},
          filterModalConfig: {
            title: 'Filter Modal',
            show: false,
            maskClosable: false,
            loading: true,
          },
          settingModalConfig: {
            title: 'Filter Modal',
            show: false,
            maskClosable: false,
            loading: true,
          }
        },
        methods: {
          getItems: function () {
            /**
             * 把hashTags bloggers 分割成数组  分隔符 |
             */
            let params = Object.assign({}, this.filters)
            this.formatVerticalBar(['bloggers'], params);
            let data = {
              filters: params,
              page: this.config
            }
            console.log(data)
            /**
             * mock/index.json  是本地mock数据  真正测试时需要修改为线上服务器路径
             */
            axios.get('/mock/get_items.json', data).then((response) => {
              // axios.post('/get_items',data).then((response)=> {
              let data = response.data.data;
              this.items = data;
              this.formatData(this.items)
              this.pages = response.data.pages;
              this.filterModalConfig.show = false;
            })
          },
          getHashTagList: function () {
            axios.get('/mock/get_hashtag_list.json').then((response) => {
              // axios.get('/get_hashtag_list').then((response)=> {
              let data = response.data.data;
              let keys = Object.keys(data);
              keys.forEach((item) => {
                let json = {
                  key: item,
                  value: data[item]
                }
                this.hashTagList.push(json)
              })
            })
          },
          getCountryList: function () {
            axios.get('/mock/get_country_list.json').then((response) => {
              // axios.get('/get_country_list').then((response)=> {
              let data = response.data.data;
              this.countryList = data;
            })
          },
          getTaskList: function () {
            axios.get('/mock/get_task_list.json').then((response) => {
              // axios.get('/get_task_list').then((response)=> {
              let data = response.data.list;
              this.taskList = data;
              this.config.task = data[0]
            })
          },
          formatData: function (data) {
            data.forEach((item, index) => {
              let width = item.width || '640'
              let height = item.height || '640'
              let face_arr = ['face_detction', 'face_detction_new'];
              let body_arr = ['object_detction', 'object_detction_new']
              let close_arr = ['clothes']
              face_arr.forEach((child) => {
                if (item[child]) {
                  let type = typeof item[child]
                  if (type === 'string') {
                    item[child] = JSON.parse(item[child])
                  }
                  item[child].boxes.forEach((box, index) => {
                    /**
                     * box表示身体bouding-box
                     * box[0] 左上角x坐标
                     * box[1] 左上角y坐标
                     * box[2] width
                     * box[3] height
                     */
                    let temp = {
                      left: box[0] / width * 100 + '%',
                      top: box[1] / height * 100 + '%',
                      width: (box[2] - box[0]) / width * 100 + '%',
                      height: (box[3] - box[1]) / height * 100 + '%',
                    }
                    item[child].boxes[index] = temp;
                  })
                } else {
                  item[child] = {
                    boxes: []
                  }
                }
              })
              body_arr.forEach((child) => {
                if (item[child]) {
                  let type = typeof item[child]
                  if (type === 'string') {
                    item[child] = JSON.parse(item[child])
                  }
                  let body_det = item[child];
                  let temp = [];
                  if (body_det.T_F) {
                    body_det.result.forEach((item) => {
                      if (item[0] == 'person') {
                        let box = item[2]
                        /**
                         * box表示身体bouding-box
                         * box[0] 中心点x坐标
                         * box[1] 中心点y坐标
                         * box[2] width
                         * box[3] height
                         */
                        let obj = {
                          left: (box[0] - box[2] / 2) / width * 100 + '%',
                          top: (box[1] - box[3] / 2) / height * 100 + '%',
                          width: Math.abs(box[2]) / width * 100 + '%',
                          height: Math.abs(box[3]) / height * 100 + '%',
                        }
                        temp.push(obj)
                      }
                    })
                  }
                  data[index][child] = temp;
                } else {
                  item[child] = [];
                }
              })
              close_arr.forEach((child) => {
                if (item[child]) {
                  let type = typeof item[child]
                  if (type === 'string') {
                    item[child] = JSON.parse(item[child])
                  }
                  let body_det = item[child];
                  let temp = [];
                  body_det.forEach((item) => {
                    let box = item.box
                    /**
                     * box表示身体bouding-box
                     * box[0] 中心点x坐标
                     * box[1] 中心点y坐标
                     * box[2] width
                     * box[3] height
                     */
                    // let obj = {
                    //   left: (box[0] - box[2] / 2) / width * 100 + '%',
                    //   top: (box[1] - box[3] / 2) / height * 100 + '%',
                    //   width: Math.abs(box[2]) / width * 100 + '%',
                    //   height: Math.abs(box[3]) / height * 100 + '%',
                    // }
                    let obj = {
                      left: box[0] / width * 100 + '%',
                      top: box[1] / height * 100 + '%',
                      width: (box[2] - box[0]) / width * 100 + '%',
                      height: (box[3] - box[1]) / height * 100 + '%',
                    }
                    temp.push(obj)
                  })
                  data[index][child] = {
                    box: temp
                  };
                } else {
                  item[child] = {
                    box: []
                  };
                }
              })
            })
          },
          filter: function () {
            this.filterModalConfig.show = true;
          },
          setting: function () {
            this.settingModalConfig.show = true;
          },
          filterConfirm: function () {
            this.config.page = 1;
            this.getItems()
          },
          settingConfirm: function () {
            console.log(this.config)
          },
          settingCancel: function () {
            return;
          },
          formatVerticalBar: function (data, target) {
            data.forEach((item, index) => {
              target[item] = target[item].split('|')
              let temp = target[item];
              temp.forEach((item, index) => {
                temp[index] = item.trim()
              })
            })
          },
          pageChange: function (page) {
            /**
             *page 当前选中页数
             */
            this.config.page = page;
            this.getItems();
          },
          pageSizeChange: function (size) {
            /**
             *size 每页显示条数
             */
            this.config.batch = size;
            this.config.page = 1;
            this.getItems();
          },
          startTimeChange: function (data) {
            this.filters.time[0] = data;
          },
          endTimeChange: function (data) {
            this.filters.time[1] = data;
          },
          handleSearch: function (value) {
            this.searchCountry = [];
            let data = this.countryList
            value = value.toLowerCase();
            for (var i in data) {
              let name = data[i].name.toLowerCase()
              if (name.indexOf(value) > -1) {
                let json = {
                  name: data[i].name,
                  value: i,
                  num: data[i].num_of_ret
                }
                this.searchCountry.push(json)
              }
            }
          },
          selcetCountry: function (val) {
            this.filters.location.name = val;
          },
          mark: function (label, id) {
            let param = {
              task: this.config.task.task,
              id: id,
              lable: label,
              annotator: "xujx",
              label_time: new Date().getTime()
            }
            axios.post('/label', param).then((res) => {
              console.log(res)
            })
          },
          changeMagnify: function (type,index) {
            switch(type){
              case 0:
                this.index = index
              break;
              case 1:
                if(this.index == 0){
                  this.$Message.warning('当前是第一张图片,不能再向前翻');
                  // this.$Notice.warning({
                  //   title: 'warning',
                  //   desc: '当前是第一张图片'
                  // });
                }else{
                  this.index--
                }
              break;
              case 2:
                if(this.index == this.items.length - 1){
                  this.$Message.warning('当前是最后一张图片，不能再向后翻');
                }else{
                  this.index++
                }
            }
            this.magnify = this.items[this.index]
          }
        }
      })

    </script>

  </body>

</html>
