<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/favicon.ico">
  <title>Fashion Knowledge Extraction</title>
  <link href="../static/css/signin.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <link href="../static/css/query_style.css" rel="stylesheet">
  <link href="../static/css/iview.css" rel="stylesheet">
  <link href="../static/css/explore.css" rel="stylesheet">
  <link href="../static/css/cropper.css" rel="stylesheet">
  <script src="../static/js/vue.min.js"></script>
</head>

<body>
  <div id="query">
    <div v-if="status == 'welcome'" class="welcome_1">
      <a :href="online ? '/query' : '/templates/query.html'">
        <img class="welcome_img" :width="logo.width" :alt="logo.alt" :src="logo.src">
      </a>
      <Row style="margin-top: 50px;">
        <i-col span="4" class="left" style="width:140px; margin-left:2px; margin-right:5px;">
          <i-select v-model="filters.occasion" placeholder="occasion" transfer="true" clearable>
            <i-option v-for="item in occasionList" :value="item.key" :key="item.key">
              {{item.key}}
            </i-option>
          </i-select>
        </i-col>

        <i-col span="4" style="width:100px; margin-left:2px; margin-right:5px;">
          <i-select v-model="filters.gender" placeholder="gender" transfer="true" clearable>
            <i-option v-for="item in genderList" :value="item.key" :key="item.key">
              {{item.key}}
            </i-option>
          </i-select>
        </i-col>

        <i-col span="4" style="width:160px; margin-left:3px; margin-right:5px;">
          <Cascader :data="categoryTree" trigger="hover" placeholder="clothes" v-model="filters.category" transfer="true"></Cascader>
        </i-col>

        <i-col span="2">
          <i-button shape="circle" icon="ios-options" style="width: 30px; height: 30px; margin-left: 10px" @click="showAttrFilters()"></button>
        </i-col>

        <i-col span="2">
          <i-button shape="circle" icon="ios-search" style="width: 30px; height: 30px; margin-left: 50px" @click="searchTriplets();"></button>
        </i-col>
      </Row>
    </div>

    <div v-if="status == 'detail'" class="layout">
      <Layout>
        <Header style="position: fixed; z-index: 1000; margin-top: -1px; background: rgb(246, 247, 249); width: 100%;">
            <Row style="margin-top: 15px; margin-bottom: 15px; width: 100%">
              <i-col span="4" style="width: 240px;">
                <a :href="online ? '/query' : '/templates/query.html'">
                  <img style="height: 30px; margin-left: 20px; margin-right: 10px;" :alt="logo.alt" :src="logo.gray_src">
                </a>
              </i-col>

              <i-col span="4" style="width:140px; margin-left:2px; margin-right:5px;">
                <i-select v-model="filters.occasion" placeholder="occasion" transfer="true" clearable>
                  <i-option v-for="item in occasionList" :value="item.key" :key="item.key">
                    {{item.key}}
                  </i-option>
                </i-select>
              </i-col>

              <i-col span="4" style="width:100px; margin-left:2px; margin-right:5px;">
                <i-select v-model="filters.gender" placeholder="gender" transfer="true" clearable>
                  <i-option v-for="item in genderList" :value="item.key" :key="item.key">
                    {{item.key}}
                  </i-option>
                </i-select>
              </i-col>
      
              <i-col span="4" style="width:160px; margin-left:3px; margin-right:5px;">
                <Cascader :data="categoryTree" trigger="hover" placeholder="clothes" v-model="filters.category"></Cascader>
              </i-col>
      
              <i-col span="1">
                <i-button shape="circle" icon="ios-options" style="width: 30px; height: 30px; margin-left: 10px" @click="showAttrFilters()"></button>
              </i-col>

              <i-col span="1">
                  <i-button shape="circle" icon="md-more" style="width: 30px; height: 30px; margin-left: 10px" @click="showMetaFilters()"></button>
                </i-col>
      
              <i-col span="1">
                <i-button shape="circle" icon="ios-search" style="width: 30px; height: 30px; margin-left: 60px" @click="searchTriplets();"></button>
              </i-col>

              <i-col span="1" style="float: right;">
                <i-button shape="circle" icon="ios-keypad" style="width: 30px; height: 30px; margin-right: 10px" @click="setting()"></button>
              </i-col>
            </Row>
        </Header>
        
        <div style="min-height: '100vh'; margin-top: 70px; position: relative;" v-if="items !== null">
          <Layout> 
            <Sider collapsible :collapsed-width="78" v-model="sideIsCollapsed" style="width: 200px; min-width:60px; max-width:200px;">
              <div class="sidebar" style="margin: 1px; overflow: hidden;" v-for="triplet in this.triplets">
                <i-button v-if="triplet[0] == selectedTriplet" :title="triplet[0]" style="color: orangered; width: 100%; font-weight: bold; background: white;">{{triplet[1]}}&nbsp;{{triplet[0]}}</i-button>
                <i-button v-if="triplet[0] !== selectedTriplet" :title="triplet[0]" style="color: orangered; width: 100%; font-weight: bold;" type="text" @click="selectTriplet(triplet)">{{triplet[1]}}&nbsp;{{triplet[0]}}</i-button>
              </div>
            </Sider>
              
            <Content style="width: 100%;">
              <div class='content'>
                <div class='imgs-box'>
                  <i-col :lg='24/config.layouts' v-for="(item, index) in items" v-show="!item.hide">
                    <div class="img-container mark-mode" @click='changeMagnify(0,index)'>
                      <img :width="item.width" :height="item.height" :alt="item.index" :src="item.img_src">
                      <span class='bounding-box face-bounding-box'
                        v-for="(position, index) in item.face_detction_new.boxes"
                        v-if="config.show_face_bouding && (index > (config.which[0] - 2) && index < config.which[1])"
                        v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
                      </span>
                      <span class='bounding-box body-bounding-box'
                        v-if="config.show_body_bouding && (index > (config.which[0] - 2) && index < config.which[1])"
                        v-for="(position,index) in item.object_detction_new"
                        v-bind:style="{left: position.left,width: position.width,top: position.top,height: position.height}">
                      </span>
                      <span class='bounding-box close-bounding-box' v-if="config.show_clothes_bouding"
                        v-for="(position,index) in item.clothes"
                        v-bind:style="{left: position.box.left,width: position.box.width,top: position.box.top,height: position.box.height}">
                      </span>
                      <Row class='lables' v-if='config.mode == "Mark"'>
                        <i-col :lg='24/config.task.option.length' v-for="option in config.task.option">
                          <i-button type="ghost" @click='mark(option,item)' @click.stop>{{option}}</i-button>
                        </i-col>
                      </Row>
                    </div>
                  </i-col>
                  <BackTop :bottom="500"></BackTop>
                </div>
                <div>
                  <footer>
                    <div>
                      <Page :page-size='config.batch' :current="config.page" :total="config.count" show-elevator show-total
                        @on-change='pageChange' @on-page-size-change='pageSizeChange'></Page>
                        <!--<span>Copyright © 2018 NExT++</span>-->
                    </div>
                  </footer>
                </div>
              </div>
            </Content>
          </Layout>
        </div>
      </Layout>
    </div>

    <div class='magnify-container' v-if='magnify'>
        <div class='magnify-content'>
          <div class="img-box">
            <div class='pre-btn button' @click='changeMagnify(1)'></div>
            <div class="img-container mark-mode">
              <img :alt="magnify.index" :src="magnify.img_src" id='cropper'>
              <span class='bounding-box close-bounding-box' v-for="(position,index) in magnify.clothes"
                v-if="magnifyConfig.selectIndex==index"
                v-bind:style="{left: position.box.left,width: position.box.width,top: position.box.top,height: position.box.height}">
                <span class='cloth' @click='deleteBox(magnify,index)'></span>
              </span>
            </div>
            <div class='next-btn button' @click='changeMagnify(2)'></div>
          </div>
          <div class="info-box">
            <div class="header">
              <span class='title'>choose</span>
              <radio-group v-model="magnifyConfig.selectIndex">
                <Radio label='-1'>base info</Radio>
                <Radio v-for='(position,index) in magnify.clothes' :label=index>cloth bbox {{index+1}}</Radio>
              </radio-group>
            </div>
            <div class="content">
              <!--
              <div class='footer'>
                <i-button type="primary" @click='submit(); changeMagnify(2);'>submit</i-button>
              </div>
              -->
              <div v-if='magnifyConfig.selectIndex == -1'>
                <i-col span="24" v-for='(config,index) in baseInfoConfig' class='info-item'>
                  <i-col span="8" class='title'>{{config.key}}</i-col>
                  <i-col span="2"></i-col>
                  <i-col span="12">
                    <a v-if="config.type=='link'" v-for='grand in config.value' :href="magnify[config.url]">
                      {{magnify[grand]}}
                    </a>
                    <em v-if="config.type !=='link'" v-for='(grand, index) in config.value'>
                      {{magnify[grand]}}
                    </em>
                  </i-col>
                </i-col>
              </div>
              <div v-if='magnify.clothes[magnifyConfig.selectIndex]'>
                <i-col span="24" v-for='(config,index) in magnify.clothes[magnifyConfig.selectIndex].tags'
                  class='info-item'>
                  <i-col span="8" class='title'>{{getText(config.cpTag[0])}}</i-col>
                  <i-col span="2"></i-col>
                  <i-col span="10">
                    <i-select v-if="config.cpTag[0]=='category'" style="width:240px" v-model="config.cpTag[1]"
                      @on-change='changeCate'>
                      <i-option v-for="child in getCategoryValueList(config.cpTag[0],config.cpTag[1])" :value="child"
                        :key="config.cpTag[0]">{{getText(child)}}</i-option>
                    </i-select>
                    <i-select v-if="config.cpTag[0]!=='category'" style="width:240px" v-model="config.cpTag[1]">
                      <i-option v-for="child in getCategoryValueList(config.cpTag[0],config.cpTag[1])" :value="child"
                        :key="config.cpTag[0]">{{getText(child)}}</i-option>
                    </i-select>
                  </i-col>
                  <i-col span="2">
                    {{config.score.toFixed(2)}}
                  </i-col>
                  <!--
                  <i-col span="2">
                    <span class='close' @click='deleteAttr(magnify,index)'></span>
                  </i-col> -->
                </i-col>
              </div>
            </div>
          </div>
          <div class='close-btn button' @click='magnify=null'></div>
        </div>
      </div>

    <Modal v-model="attrFiltersModalConfig.show" :mask-closable="attrFiltersModalConfig.maskClosable" title="Attribute Filter"
      class='filter-modal' @on-ok="attrFilterConfirm">
      <div v-if="attrFiltersModalConfig.show">
        <Row span="12" v-for='(attrVals, index) in catAttrValList[filters.categoryStr]'
          class='info-item'>
          <i-col span="6" class='title'>{{Object.keys(attrVals)[0]}}</i-col>
          <i-col span="6">
            <i-select style="width:160px" v-model="filters.attributes[Object.keys(attrVals)[0]]" placeholder="please select" clearable>
              <i-option v-for="val in catAttrValList[filters.categoryStr][index][Object.keys(attrVals)[0]]" :value="val"
                :key="val">{{val}}</i-option>
            </i-select>
          </i-col>
        </Row>
      </div>
    </Modal>

    <Modal v-model="settingModalConfig.show" :mask-closable="settingModalConfig.maskClosable" title="Setting Modal"
      class='filter-modal' @on-ok="settingConfirm" @on-cancel="settingCancel">
      <Row>
        <i-col span="12" class='left'>
          <span>Request Batch</span>
        </i-col>
        <i-col span="12" class='right'>
          <input-number v-model='config.batch' :min="1" :precision='0'></input-number>
        </i-col>
      </Row>
      <Row>
        <i-col span="12" class='left'>
          <span>Number of Images Per Line</span>
        </i-col>
        <i-col span="12" class='right'>
          <input-number v-model='config.layouts' :min="2" :max='8' :precision='0' :step='2'></input-number>
        </i-col>
      </Row>
      <Row>
        <i-col span="12" class='left'>
          <span>Number of Returned Triplets</span>
        </i-col>
        <i-col span="12" class='right'>
          <input-number v-model='config.tripletBatch' :min="1" :max='50' :precision='0' :step='2'></input-number>
        </i-col>
      </Row>
      <Row>
        <i-col span="12" class='left'>
          <span>Show the Face BoudingBox</span>
        </i-col>
        <i-col span="12" class='right'>
          <i-switch v-model="config.show_face_bouding"></i-switch>
        </i-col>
      </Row>
      <Row>
        <i-col span="12" class='left'>
          <span>Show the Body BoudingBox</span>
        </i-col>
        <i-col span="12" class='right'>
          <i-switch v-model="config.show_body_bouding"></i-switch>
        </i-col>
      </Row>
      <Row>
        <i-col span="12" class='left'>
          <span>Show the clothes BoudingBox</span>
        </i-col>
        <i-col span="12" class='right'>
          <i-switch v-model="config.show_clothes_bouding"></i-switch>
        </i-col>
      </Row>
      <Row v-if='config.mode==="Mark"'>
        <i-col span="12" class='left'>
          <span>Selcet Language</span>
        </i-col>
        <i-col span="12" class='right'>
          <i-select v-model="config.language" style="width:200px" placeholder="please select">
            <i-option v-for="item in languages" :value="item" :key='item'>
              <span>{{item}}</span>
            </i-option>
          </i-select>
        </i-col>
      </Row>
    </Modal>

    <Modal v-model="metaFilterModalConfig.show" :mask-closable="metaFilterModalConfig.maskClosable"
      :title="metaFilterModalConfig.title" class='filter-modal' @on-ok="metaFilterConfirm">
      <div v-if="metaFilterModalConfig.show">
      <Row>
        <i-col span="12" class='left'>
          <span>Start Time</span>
        </i-col>
        <i-col span="12" class='right'>
          <date-picker type="datetime" placeholder="Select time" @on-change='startTimeChange'></date-picker>
        </i-col>
      </Row>
      <Row>
        <i-col span="12" class='left'>
          <span>End Time</span>
        </i-col>
        <i-col span="12" class='right'>
          <date-picker type="datetime" placeholder="Select time" @on-change='endTimeChange'></date-picker>
        </i-col>
      </Row>
      <Row>
        <i-col span="12" class='left'>
          <span>Country</span>
        </i-col>
        <i-col span="12" class='right'>
          <auto-complete @on-search="handleSearch" @on-select='selcetCountry' placeholder="Select country"
            style="width:200px">
            <i-option v-for="item in searchCountry" :value="item.value" :key="item.name">
              <span>{{item.name}}</span>
              <span class='num-tip'>{{item.num}}</span>
            </i-option>
          </auto-complete>
        </i-col>
      </Row>
      <Row>
        <i-col span="12" class='left'>
          <span>Hashtags</span>
        </i-col>
        <i-col span="12" class='right'>
          <i-select v-model="metaFilters.hashtags" style="width:200px" multiple>
            <i-option v-for="item in hashTagList" :value="item.key" :key="item.key">
              <span>{{item.key}}</span>
              <span class='num-tip'>{{item.value}}</span>
            </i-option>
          </i-select>
        </i-col>
      </Row>
      <Row>
        <i-col span="12" class='left'>
          <span>Num of Likes</span>
        </i-col>
        <i-col span="12" class='right'>
          <i-col span="10">
            <input-number v-model='metaFilters.likes[0]' :min="0" class='small' :precision='0'></input-number>
          </i-col>
          <i-col span="2" class='text'>
            to
          </i-col>
          <i-col span="10">
            <input-number v-model='metaFilters.likes[1]' :min="0" class='small' :precision='0'></input-number>
          </i-col>
        </i-col>
      </Row>
      <Row>
        <i-col span="12" class='left'>
          <span>Num of Comments</span>
        </i-col>
        <i-col span="12" class='right'>
          <i-col span="10">
            <input-number v-model='metaFilters.comments[0]' :min="0" class='small' :precision='0'></input-number>
          </i-col>
          <i-col span="2" class='text'>
            to
          </i-col>
          <i-col span="10">
            <input-number v-model='metaFilters.comments[1]' :min="metaFilters.comments[0] || 0" class='small' :precision='0'>
            </input-number>
          </i-col>
        </i-col>
      </Row>
      </div>
    </Modal>

  </div>
  <script src="../static/js/axios.min.js"></script>
  <script src="../static/js/iview.min.js"></script>
  <script src="../static/js/cropper.js"></script>
  <script src="../static/js/lodash.min.js"></script>
  <script src="../static/dist/en-US.js"></script>
  <script>
    iview.lang('en-US');
    var query = new Vue({
      el: '#query',
      componet: {},
      mounted: function () {
        this.getHashTagList();
        this.getCountryList();
        this.getCatAttrValList();
        this.getTranslate();
        this.getOccasionList();
        this.getGenderList();
        this.getCategoryTree();
      },
      data: {
        online: true,
        status: 'welcome',
        sideIsCollapsed: false,
        selectedTriplet: null,
        items: null,
        triplets: [],
        logo: {
          width: "400px",
          src: "/static/image/FashionKE_logo.png",
          gray_src: "/static/image/FashionKE_logo_gray.png",
        },
        filters: {
          occasion: null,
          gender: null,
          category: [],
          categoryStr: "",
          attributes: {},
        },
        metaFilters: {
          time: ['', ''],
          country: '',
          hashtags: '',
          likes: ['', ''],
          comments: ['', '']
        },
        config: {
          layouts: 6,
          batch: 120,
          count: 120,
          page: 1,
          tripletBatch: 20,
          show_face_bouding: false,
          show_body_bouding: false,
          show_clothes_bouding: true,
          show_all_clothes: false,
          mode: "Mark",
          task: "",
          show_aligned_result: false,
          which: [1, 30],
          language:"english"
        },
        languages:['english','chinese'],
        baseInfoConfig: [
          {
            key: "publish_time",
            value: ["publish_time"]
          }, 
          {
            key: "location",
            value: ["country", "admin1", "admin2", "location_name"]
          }, 
          {
            key: "hashtag",
            value: ["hash_tag"]
          }, 
          {
            key: "user",
            value: ["blogger"],
            type: "link",
            url: "blogger_page_url"
          }, 
          {
            key: "desc",
            value: ["text"]
          }
        ],
        hashTagList: [],
        countryList: [],
        searchCountry: [],
        catAttrValList: null,
        occasionList: [],
        genderList: [],
        categoryTree: [],
        magnify: null,
        magnifyConfig: {
          selectIndex: '-1'
        },
        settingModalConfig: {
          title: 'Setting Modal',
          show: false,
          maskClosable: false,
          loading: true,
        },
        metaFilterModalConfig: {
          title: 'Metadata Filter Modal',
          show: false,
          maskClosable: false,
          loading: true,
        },
        attrFiltersModalConfig: {
          show: false,
          maskClosable: true,
          loading: true,
        },
      },
      computed: {
        menuitemClasses: function () {
          return [
            'menu-item',
            this.isCollapsed ? 'collapsed-menu' : ''
          ]
        }
      },
      methods: {
        getHashTagList: function () {
          let source = "/mock/get_hashtag_list.json"
          if (this.online) {
            source = "/get_hashtag_list";
          }
          axios.get(source).then((response) => {
            let data = response.data.data;
            let keys = Object.keys(data);
            keys.forEach((item) => {
              let json = {
                key: item,
                value: data[item]
              }
              this.hashTagList.push(json)
            })
          })
        },
        getOccasionList: function () {
          let source = "/mock/get_occasion_list.json"
          if (this.online) {
            source = "/get_occasion_list";
          }
          axios.get(source).then((response) => {
            let data = response.data.data;
            let keys = Object.keys(data);
            keys.forEach((item) => {
              let json = {
                key: item,
                value: data[item]
              }
              this.occasionList.push(json)
            })
          })
        },
        getCategoryTree: function () {
          let source = "/mock/get_categoryTree.json"
          if (this.online) {
            source = "/get_category_tree";
          }
          axios.get(source).then((response) => {
            this.categoryTree = response.data;
            //console.log(this.categoryTree);
            })
        },
        getGenderList: function () {
          let source = "/mock/get_gender_list.json"
          if (this.online) {
            source = "/get_gender_list";
          }
          axios.get(source).then((response) => {
            let data = response.data.data;
            let keys = Object.keys(data);
            keys.forEach((item) => {
              let json = {
                key: item,
                value: data[item]
              }
              this.genderList.push(json)
            })
          })
        },
        getCountryList: function () {
          let source = "/mock/get_country_list.json"
          if (this.online) {
            source = "/get_country_list";
          }
          axios.get(source).then((response) => {
            let data = response.data.data;
            this.countryList = data;
          })
        },
        getCatAttrValList: function () {
          let source = "/mock/clothes_category_attribute_value.json"
          if (this.online) {
            source = "/get_cat_attr_val_list";
          }
          axios.get(source).then((response) => {
            let data = response.data;
            this.catAttrValList = data;// || {};
            //console.log(this.catAttrValList);
          })
        },       
        getTranslate: function () {
          let source = "/mock/eng_chi_mapping.json"
          if (this.online) {
            source = "/get_translation";
          }
          axios.get(source).then((response) => {
            let data = response.data;
            this.translateData = data;
          })
        },
        showAttrFilters: function() {
          if (this.filters.category.length == 0) {
            this.$Message.warning('Please choose clothes first !');
          }
          else {
            let categoryStr = this.filters.category.join("__");
            if (this.filters.categoryStr != categoryStr) {
              //console.log(categoryStr)
              this.filters.categoryStr = categoryStr;
              let attrVals = new Object();
              for (each in this.catAttrValList[categoryStr]) {
                attr_name = Object.keys(each)[0];
                attrVals[attr_name] = null;
              };
              this.filters.attributes = attrVals;
            }
            //console.log(this.filters.attributes);
            this.attrFiltersModalConfig.show = true;
          }
        },
        showMetaFilters: function() {
          this.metaFilterModalConfig.show = true;
        },
        startTimeChange: function (data) {
          this.metaFilters.time[0] = data;
        },
        endTimeChange: function (data) {
          this.metaFilters.time[1] = data;
        },
        settingConfirm: function () {
          //console.log(this.config)
        },
        settingCancel: function () {
          return;
        },
        metaFilterConfirm: function () {
          //console.log("cancel")
        },
        handleSearch: function (value) {
          this.searchCountry = [];
          let data = this.countryList
          value = value.toLowerCase();
          for (var i in data) {
            let name = data[i].name.toLowerCase()
            if (name.indexOf(value) > -1) {
              let json = {
                name: data[i].name,
                value: i,
                num: data[i].num_of_ret
              }
              this.searchCountry.push(json)
            }
          }
        },
        selcetCountry: function (val) {
          this.metaFilters.country = val;
        },
        attrFilterConfirm: function () {
          //console.log("cancel")
        },
        attrFilterCancel: function () {
          return;
        },
        formatTags: function (data) {
          data.clothes.forEach((item) => {
            item.tags.forEach((child) => {
              //console.log(child)
              child.cpTag = child.tag.split(':')
            })
          })
          //console.log(data.clothes)
        },
        selectTriplet: function (triplet) {
          this.selectedTriplet = triplet[0];
          this.config.page = 1;
          this.searchImages();
        },
        pageChange: function (page) {
          /**
           *page 当前选中页数
           */
          this.config.page = page;
          this.searchImages();
        },
        pageSizeChange: function (size) {
          /**
           *size 每页显示条数
           */
          this.config.batch = size;
          this.config.page = 1;
          this.searchImages();
        },
        formatData: function (data) {
          data.forEach((item, index) => {
            item.hide = false;
            //console.log(item)
            let width = item.width || '640'
            let height = item.height || '640'
            let face_arr = ['face_detction', 'face_detction_new'];
            let body_arr = ['object_detction', 'object_detction_new']
            let clothes_arr = ['clothes']
            face_arr.forEach((child) => {
              //console.log(child)
              if (item[child]) {
                let type = typeof item[child]
                if (type === 'string') {
                  item[child] = JSON.parse(item[child])
                }
                item[child].boxes.forEach((box, index) => {
                  /**
                  * box表示身体bouding-box
                  * box[0] 左上角x坐标
                  * box[1] 左上角y坐标
                  * box[2] width
                  * box[3] height
                  */
                  let temp = {
                    left: box[0] / width * 100 + '%',
                    top: box[1] / height * 100 + '%',
                    width: (box[2] - box[0]) / width * 100 + '%',
                    height: (box[3] - box[1]) / height * 100 + '%',
                  }
                  item[child].boxes[index] = temp;
                })
              } else {
                item[child] = {
                  boxes: []
                }
              }
            });
            body_arr.forEach((child) => {
              if (item[child]) {
                let type = typeof item[child]
                if (type === 'string') {
                  item[child] = JSON.parse(item[child])
                }
                let body_det = item[child];
                let temp = [];
                if (body_det.T_F) {
                  body_det.result.forEach((item) => {
                    if (item[0] == 'person') {
                      let box = item[2]
                      /**
                      * box表示身体bouding-box
                      * box[0] 中心点x坐标
                      * box[1] 中心点y坐标
                      * box[2] width
                      * box[3] height
                      */
                      let obj = {
                        left: (box[0] - box[2] / 2) / width * 100 + '%',
                        top: (box[1] - box[3] / 2) / height * 100 + '%',
                        width: Math.abs(box[2]) / width * 100 + '%',
                        height: Math.abs(box[3]) / height * 100 + '%',
                      }
                      temp.push(obj)
                    }
                  })
                }
                data[index][child] = temp;
              } else {
                item[child] = [];
              }
            });
            clothes_arr.forEach((child) => {
              if (item[child]) {
                let type = typeof item[child]
                if (type === 'string') {
                  item[child] = JSON.parse(item[child])
                }
                item[child].forEach((item1, index1) => {
                  let box = item1.box
                  // 有的boxlength为空
                  if (box.length) {
                    let obj = {
                      left: box[0] / width * 100 + '%',
                      top: box[1] / height * 100 + '%',
                      width: (box[2] - box[0]) / width * 100 + '%',
                      height: (box[3] - box[1]) / height * 100 + '%',
                    }
                    item1.box = obj;
                  }
                  // item[child][index1].box = obj;
                })
              } else {
                item[child] = [];
              }
            });
          })
        },
        changeMagnify: function (type, index) {
          switch (type) {
            case 0:
              this.index = index
              break;
            case 1:
              if (this.index == 0) {
                this.$Message.warning('This is the first page !');
                return;
              } else {
                this.index--
              }
              break;
            case 2:
              if (this.index == this.items.length - 1) {
                this.$Message.warning('This is the last page !');
                this.index--
              } else {
                this.index++
              }
              break;
          }
          this.magnify = this.items[this.index]
          if (this.magnify.hide) {
            arguments.callee.call(this, type, this.index)
            return
          }
          this.formatTags(this.magnify)
        },
        changeCate: function (val) {
          let tags = this.magnify.clothes[this.magnifyConfig.selectIndex].tags;
          let newTags = tags.slice(0, 1);
          this.catAttrValList[val].forEach((item, index) => {
            //console.log(tags);
            let attr = Object.keys(item)[0];
            let json = this.getExistAttr(tags, attr) || {
              cpTag: [attr, ''],
              score: 0
            };
            newTags.push(json)
          })
          this.magnify.clothes[this.magnifyConfig.selectIndex].tags = newTags;
          //console.log(this.magnify.clothes[this.magnifyConfig.selectIndex])
        },
        getCategoryValueList: function (attr, val) {
          if (attr === 'category') {
            return Object.keys(this.catAttrValList)
          } else {
            let cate = this.magnify.clothes[this.magnifyConfig.selectIndex].tags[0].cpTag[1]
            let list = this.catAttrValList[cate];
            let res = [];
            list.forEach((item) => {
              if (item[attr]) {
                res = item[attr]
                return res;
              }
            })
            return res
          }
        },
        getExistAttr(tags,attr){
          let res = null;
          tags.forEach(el =>{
            if(el.cpTag[0] === attr){
              res = el;
            }
          })
          return res;
        },
        getText(value){
          if(this.config.language === 'english'){
            return value;
          }else{
            return this.translateData[value];
          }
        },
        setting: function () {
          this.settingModalConfig.show = true;
        },
        searchTriplets: function () {
          this.status = "detail";
          let request_data = {
            type: "triplet",
            occasion: this.filters.occasion,
            gender: this.filters.gender,
            category: this.filters.category,
            attributes: this.filters.attributes,
            meta_filters: this.metaFilters,
          };

          if (this.online) {
            axios.post("/search", request_data).then((response) => {
              let data = response.data;
              console.log(data);
              this.triplets = data;
              this.selectedTriplet = this.triplets[0][0];
              this.searchImages();
              console.log(this.selectedTriplet);
              //this.filterModalConfig.show = false;
            })
          } else {
            axios.get("/mock/search_triplets.json").then((response) => {
              let data = response.data.data;
              this.triplets = data;
              this.selectedTriplet = this.triplets[0][0];
            })
          }
        },
        searchImages: function () {
          this.status = "detail";
          let request_data = {
            type: "image",
            triplet: this.selectedTriplet,
            meta_filters: this.metaFilters,
            config: this.config,
          };

          if (this.online) {
            axios.post("/search", request_data).then((response) => {
              let data = response.data;
              this.config.count = data.pages.count;
              data = data.data;
              this.formatData(data);
              this.items = data;
              //this.filterModalConfig.show = false;
            })
          } else {
            axios.get("/mock/search_images.json").then((response) => {
              let data = response.data;
              this.config.count = data.pages.count;
              data = data.data;
              this.formatData(data);
              this.items = data;
              //console.log(data);
            })
          }
        },
        submit: function() {
          let clothes =  this.magnify.clothes;
          clothes.forEach(el=>{
            el.tags.forEach(child=>{
              if(child.cpTag){
                child.tag = child.cpTag.join(":")
              }
            })
          })
          let json = {
            clothes: this.magnify.clothes,
            action: "modify_cat_attr",
            id: this.magnify.id
          }
          axios.post('/annotate_clothes', json)
            .then(function (response) {
              
            })
            .catch(function (error) {
              console.log(error);
            });
        },
      },  
    });
  </script>

</body>

</html>
